---
layout: post
---

<p>If this page is loading too slowly or otherwise, here is a <a href="/resources/{{ page.slug }}/{{ page.slug }}.pdf">PDF copy</a>.</p>

<p style="font-style:italic">These solutions aim to be exemplary, but not necessarily complete.
They are not intended to reflect how one would answer the questions on an actual examination.
Please note that whilst my solutions are meant to be correct as far as possible for the purposes of the VCAA examination,
my only qualification is having been a student of VCE Mathematical Methods and I can make no guarantee of the mathematical rigour of what is presented.
If there are any errors, please <a href="#comments">leave a comment</a> or <a href="mailto:nhan.nguyen.tbc@gmail.com">email me</a>.</p>

<h4>question summary</h4>
<p style="color: green">final answer</p>

<p><a href="https://www.vcaa.vic.edu.au/Documents/exams/mathematics/mathmethods-formula-w.pdf">Formula sheet</a></p>

<div class="solutions">
  {{ content }}
</div>
